In [1]:
import pandas as pd
import geopandas as gpd
import shapely
import matplotlib
import descartes

In [7]:
## Encoding Type is "ISO-8859-1"
bg = pd.read_csv("2018_ACS_BG.csv", encoding = "ISO-8859-1")
bg = pd.DataFrame(bg)
bg.head()

,GISJOIN,STATE,COUNTY,Total,Male,Male: Under 5 years,Male: 5 to 9 years,Male: 10 to 14 years,Male: 15 to 17 years,Male: 18 and 19 years,...,Female: 50 to 54 years,Female: 55 to 59 years,Female: 60 and 61 years,Female: 62 to 64 years,Female: 65 and 66 years,Female: 67 to 69 years,Female: 70 to 74 years,Female: 75 to 79 years,Female: 80 to 84 years,Female: 85 years and over
0,G01000100201001,Alabama,Autauga County,636,262,15,20,5,11,0,...,21,67,11,4,4,21,16,3,0,14
1,G01000100201002,Alabama,Autauga County,1287,667,7,15,62,72,58,...,91,61,21,11,4,28,35,8,7,0
2,G01000100202001,Alabama,Autauga County,810,398,26,49,14,25,42,...,17,19,0,24,19,5,37,8,22,29
3,G01000100202002,Alabama,Autauga County,1218,693,34,60,37,21,8,...,59,24,17,9,13,16,19,8,19,13
4,G01000100203001,Alabama,Autauga County,2641,1266,12,136,125,27,14,...,50,107,30,35,0,37,19,53,24,54

In [9]:
x = bg.index
print(len(x))
count = 0
for i in bg.columns:
    print (count, i)
    count = count + 1

220333
0 GISJOIN
1 STATE
2 COUNTY
3 Total
4 Male
5 Male: Under 5 years
6 Male: 5 to 9 years
7 Male: 10 to 14 years
8 Male: 15 to 17 years
9 Male: 18 and 19 years
10 Male: 20 years
11 Male: 21 years
12 Male: 22 to 24 years
13 Male: 25 to 29 years
14 Male: 30 to 34 years
15 Male: 35 to 39 years
16 Male: 40 to 44 years
17 Male: 45 to 49 years
18 Male: 50 to 54 years
19 Male: 55 to 59 years
20 Male: 60 and 61 years
21 Male: 62 to 64 years
22 Male: 65 and 66 years
23 Male: 67 to 69 years
24 Male: 70 to 74 years
25 Male: 75 to 79 years
26 Male: 80 to 84 years
27 Male: 85 years and over
28 Female
29 Female: Under 5 years
30 Female: 5 to 9 years
31 Female: 10 to 14 years
32 Female: 15 to 17 years
33 Female: 18 and 19 years
34 Female: 20 years
35 Female: 21 years
36 Female: 22 to 24 years
37 Female: 25 to 29 years
38 Female: 30 to 34 years
39 Female: 35 to 39 years
40 Female: 40 to 44 years
41 Female: 45 to 49 years
42 Female: 50 to 54 years
43 Female: 55 to 59 years
44 Female: 60 and 61 years
45 Female: 62 to 64 years
46 Female: 65 and 66 years
47 Female: 67 to 69 years
48 Female: 70 to 74 years
49 Female: 75 to 79 years
50 Female: 80 to 84 years
51 Female: 85 years and over

In [11]:
genZ = []
millennial = []
genX = []
babyBoomer = []
silentG = []
for index, row in bg.iterrows(): 
    genZ_total = row[5] + row[6]+ row[7] + row[8]+ row[9]+ row[10]+ row[11] + row[29]+ row[30]+ row[31]+ row[32]+ row[33]+ row[34]+ row[35]
    millennial_total = row[12] + row[13] + row[14] + row[36] + row[37] + row[38]
    genX_total = row[15] + row[16] + row[17] + row[18] + row[39] + row[40] + row[41] + row[42]
    bb_total = row[19] + row[20] + row[21] + row[22] + row[23] + row[24] + row[43] + row[44] + row[45] + row[46] + row[47] + row[48]
    sg_total = row[25] + row[26] + row[27] + row[49] + row[50] + row[51]
    genZ.append(genZ_total)
    millennial.append(millennial_total)
    genX.append(genX_total)
    babyBoomer.append(bb_total)
    silentG.append(sg_total)
    if index == (0.25*(len(x))):
        print("25% Complete")
    if index == (0.50*(len(x))):
        print("50% Complete")
    if index == (0.75*(len(x))):
        print("75% Complete")
bg['GZ'] = genZ
bg['ML'] = millennial
bg['GX'] = genX
bg['BB'] = babyBoomer
bg['SG'] = silentG
bg.head()

,GISJOIN,STATE,COUNTY,Total,Male,Male: Under 5 years,Male: 5 to 9 years,Male: 10 to 14 years,Male: 15 to 17 years,Male: 18 and 19 years,...,Female: 67 to 69 years,Female: 70 to 74 years,Female: 75 to 79 years,Female: 80 to 84 years,Female: 85 years and over,GZ,ML,GX,BB,SG
0,G01000100201001,Alabama,Autauga County,636,262,15,20,5,11,0,...,21,16,3,0,14,157,101,151,207,20
1,G01000100201002,Alabama,Autauga County,1287,667,7,15,62,72,58,...,28,35,8,7,0,362,193,405,274,53
2,G01000100202001,Alabama,Autauga County,810,398,26,49,14,25,42,...,5,37,8,22,29,231,90,208,209,72
3,G01000100202002,Alabama,Autauga County,1218,693,34,60,37,21,8,...,16,19,8,19,13,290,264,440,178,46
4,G01000100203001,Alabama,Autauga County,2641,1266,12,136,125,27,14,...,37,19,53,24,54,716,660,608,478,179

In [13]:
Total = bg['Total'].sum()
GZ_Total = bg['GZ'].sum()
ML_Total = bg['ML'].sum()
GX_Total = bg['GX'].sum()
BB_Total = bg['BB'].sum()
SG_Total = bg['SG'].sum()

In [14]:
print(Total, GZ_Total, ML_Total, GX_Total, BB_Total, SG_Total)

326289971 92192852 58276678 84223134 70613122 20984185

In [15]:
GZ_sh = GZ_Total/Total
ML_sh = ML_Total/Total
GX_sh = GX_Total/Total
BB_sh = BB_Total/Total
SG_sh = SG_Total/Total
print(GZ_sh, ML_sh, GX_sh, BB_sh, SG_sh)

0.28254883751851506 0.17860395102367396 0.2581235756093772 0.216412174065871 0.06431146178256272

In [19]:
bg_sh = {"GZ":GZ_sh,"ML":ML_sh,"GX":GX_sh,"BB":BB_sh,"SG":SG_sh}

import json
bg_json = json.dumps(bg_sh) #dumps the list into a json

## output: write a json file
with open('bg_share.json','w') as  json_file:
    json_file.write(bg_json)
    print ('Converted to json!')
    json_file.close()

Converted to json!